<h1>Ulubieni</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>User_id</th>
            <td>{{ entity.userid }}</td>
        </tr>
        <tr>
            <th>Ulubiony_id</th>
            <td>{{ entity.ulubionyid }}</td>
        </tr>
        <tr>
            <th>Opis</th>
            <td>{{ entity.opis }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('ulubieni') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('ulubieni_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('ulubieni_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
