{% extends "::base.html.twig" %} 
{% block content %}
<script type="text/javascript">
//<![CDATA[
$(function () {

    var data = [
        {data: [[1,300], [2,300], [3,300], [4,300]]},
        {data: [[1,800], [2,600], [3,400], [4,200]]},
        {data: [[1,100], [2,200], [3,300], [4,400]]},
        {data: [[1,100], [1,200], [3,300], [3,400]]},
    ];
        
    var data = [];
    var i = 0;
    var xaxisvar = [];
    {% for entity in entities %}
        xaxisvar[{{ loop.index0 }}] = [{{ loop.index0 }},'{{entity.nazwa}}']
        data[{{ loop.index0 }}] = { data: [[{{ loop.index0 }},{{entity.zysk/100}}]] }
        i = {{loop.index0}}
    {% endfor %}
    {% for entity in entities %}
        data[{{ loop.index }}+i] = { data: [[{{ loop.index0 }},{{(entity.cena*entity.ilosc/100)}}]] }
    {% endfor %}
        
    
    var options = {
        series: {
            stack: true,
            lines: {
                show: false, 
                steps: false
            },
            bars: {
                show: true, 
                barWidth: 0.9, 
                align: 'center',
                horizontal: false,
                //order:2
            }
        },
        legend: {
            show: false
        },
        xaxis:  {
            ticks: xaxisvar
        },
    };


    $.plot($("#hBar"), data, options);
});
//]]>
</script>

<div class="title"><h5>Kalkulator zysków i strat</h5></div>
    <div class="widget">
        <div class="head"><h5 class="iFrames">Lista akcji</h5></div>
        <table cellpadding="0" cellspacing="0" width="100%" class="tableStatic">
            <thead>
                <tr>
                    <td>Lp.</td>
                    <td>Nazwa</td>
                    <td>Wartość</td>
                    <td>Ilość</td>
                    <td>Suma prowizji</td>
                    <td>Cena akcji</td>
                    <td>Zysk/Strata %</td>
                    <td>Zysk/Strata zł</td>
                    <td>Podatek zł</td>
                    <td>Akcje</td>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                <tr>
                    <td class="right">{{ loop.index0 + 1 }}</td>
                    <td>{{ entity.nazwa }}</td>
                    <td class="right">{{ (entity.cena/100)|number_format(2, '.', ',') }}</td>
                    <td class="right">{{ entity.ilosc }}</td>
                    <td class="right">{{ (entity.prowizja/100)|number_format(2, '.', ',') }}</td>
                    <td class="right">{{ ((entity.cena*entity.ilosc)/100)|number_format(2, '.', ',') }}</td>
                    <td class="right">{{ (entity.procent)|number_format(2, '.', ',') }}%</td>
                    <td class="right">{{ (entity.zysk/100)|number_format(2, '.', ',') }}</td>
                    <td class="right">{{ (entity.zysk/100*0.19)|number_format(2, '.', ',')}}</td>
                    <td class="center"><a href="{{ path('portfel_history_one', {'id' : entity.nazwa_id}) }}">pokaż historie</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="widgets">            
        <div class="center">                
            <div class="widget">
                <!-- Horizontal -->                    
                <div class="head"><h5 class="iStats">Zyski / Straty</h5></div>
                <div class="body">
                    <div id="hBar" class="pieWidget"></div>
                </div>                
            </div>
        </div>           
        <div class="fix"></div>
    </div>

{% endblock %}