{% extends "::base.html.twig" %} 
{% block content %}
<script type="text/javascript">
//<![CDATA[
$(function () {
        var data = [];              
        {% for entity in entities %}
            data[{{ loop.index0 }}] = { label: "{{ entity.nazwa }}", data: {{(entity.cena*entity.ilosc)/100}} }
            {% endfor %}

$.plot($("#pie"), data, 
{
                series: {
                        pie: { 
                                show: true,
                                label: {
                                        show: false,
                                        formatter: function(label, series){
                                                return '<div style="font-size:11px;text-align:center;padding:4px;color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
                                        },
                                        threshold: 0.1
                                }
                        }
                },
                legend: {
                        show: true,
                        noColumns: 1, // number of colums in legend table
                        labelFormatter: null, // fn: string -> string
                        labelBoxBorderColor: "#000", // border color for the little label boxes
                        container: null, // container (as jQuery object) to put legend in, null means default on top of graph
                        position: "ne", // position of default legend container within plot
                        margin: [5, 10], // distance from grid edge to default legend container within plot
                        backgroundColor: "#efefef", // null means auto-detect
                        backgroundOpacity: 1 // set to 0 to avoid background
                },
                grid: {
                        hoverable: true,
                        clickable: true
                },
});
$("#interactive").bind("plothover", pieHover);
$("#interactive").bind("plotclick", pieClick);

});

function pieHover(event, pos, obj) 
{
        if (!obj)
                                return;
        percent = parseFloat(obj.series.percent).toFixed(2);
        $("#hover").html('<span style="font-weight: bold; color: '+obj.series.color+'">'+obj.series.label+' ('+percent+'%)</span>');
}
function pieClick(event, pos, obj) 
{
        if (!obj)
                                return;
        percent = parseFloat(obj.series.percent).toFixed(2);
        alert(''+obj.series.label+': '+percent+'%');
}
//]]>
</script>

<div class="title"><h5>Wycena portfela</h5></div>
<div class="widgets">
    <div class="left">

        <div class="widget">
            <!-- Pie -->                    
            <div class="head"><h5 class="iChart8">Zawartość portfela</h5></div>
            <div class="body">                        
                <div id="pie" class="pieWidget"></div>
            </div>
        </div>    
    </div>
    <div class="right">

        <div class="widget">
            <div class="head"><h5 class="iStats">Podsumowanie</h5></div>
            <div class="body">
                Aktualnie zainwestowany kapitał: {{ podsumowanie.kapital/100 }} PLN<br/>
                Ilość jednostek posiadanych walorów: {{ podsumowanie.ilosc }}<br/>
                Łączna wartość posiadanych walorów: {{ podsumowanie.wartosc/100 }} PLN<br/>
                Zysk z walorów (po odliczeniu prowizji): {{ podsumowanie.zysk/100 }} PLN<br/>
                
                <br/>
            </div>
        </div>
    </div>
</div>
{% endblock %}