<!-- Header -->
<div id="header" class="wrapper"> <div class="logo"><a href="/" title=""><img src="{{ asset('images/logo.png') }}" alt="" /></a></div>
    <div class="middleNav"> 
        <ul>
            <li class="iMes"><a href="{{ path('aktualnosci') }}" title=""><span>Aktualności</span></a><span class="numberMiddle">12</span></li>
            <li class="iStat"><a href="{{ path('statystyki') }}" title=""><span>Moje statystyki</span></a></li>
            <li class="iUser"><a href="{{ path('ulubieni') }}" title=""><span>Ulubieni użytkownicy</span></a><span class="numberMiddle">3</span></li>
            <li class="iOrders"><a href="{{ path('portfel') }}" title=""><span>Inwestycje</span></a><span class="numberMiddle green">{{ inwestycje }}</span></li> 
        </ul> </div> <div class="fix">
    </div>
</div>