<div class="switcher"> <ul>
        <li><a href="#" title="" class="pat1"><img src="{{ asset('images/switcher/1.png') }}" alt="" /></a></li>
        <li><a href="#" title="" class="pat2"><img src="{{ asset('images/switcher/2.png') }}" alt="" /></a></li>
        <li><a href="#" title="" class="pat3"><img src="{{ asset('images/switcher/3.png') }}" alt="" /></a></li>
        <li><a href="#" title="" class="pat4"><img src="{{ asset('images/switcher/4.png') }}" alt="" /></a></li>
        <li class="last"><a href="#" title="" class="pat5"><img src="{{ asset('images/switcher/5.png') }}" alt="" /></a></li>
    </ul>
</div>