{% extends "::base.html.twig" %} 
{% block content %}

<div class="title"><h5>Kupno akcji</h5></div>


<script type="text/javascript">
//<![CDATA[

$(document).ready(function(){

    var min = {{min}};
    var procent = {{procent}};
    var cena = $('#intimisi_klientbundle_portfeltype_cena');
    var ilosc = $('#intimisi_klientbundle_portfeltype_ilosc');
    var prowizja = $('#intimisi_klientbundle_portfeltype_prowizja');
    var submit = $('input[type="submit"]');
    var nazwa = $('#intimisi_klientbundle_portfeltype_nazwa');
    cena.click(function(){
        sum();
    });
    ilosc.click(function(){
        sum();
    });
    prowizja.click(function(){
        sum();
    });
    submit.click(function(){
        sum();
        ajaks();
    });


    function sum(){
        var tmp = cena.val().replace(',','')*ilosc.val().replace(',','')*procent/100;
        if(tmp < min){
            prowizja.val(min.toFixed(2));
        } else {
            prowizja.val(tmp.toFixed(2));
        }
    }
    
    nazwa.change(function(){
        ajaks();
    });
    
    function ajaks() {

        $.ajax({
            url: '{{ path('portfel_ajax') }}',
            dataType: 'json',
            data: { 
                action: 'kup',
                id: nazwa.find('option:selected').val()
            },
            type: 'post',
            success: function(output) {
                cena.val(output.notowania.kurs_biezacy);
            }
        });
        
    }

});

//]]>
</script>
<form action="{{ path('portfel_create') }}" method="post" {{ form_enctype(form) }} class="mainForm">
    <fieldset>
        <div class="widget">
            <div class="head">
                <h5 class="iLocked2">Ustawienia kupna</h5>
            </div>                    
            <div class="rowElem searchDrop">
                <label>Nazwa:</label>
                <div class="formRight">
                    {{ form_widget(form.nazwa) }}
                </div>                        
                <div class="fix"></div>
            </div>
            <div class="rowElem">
                <label>Cena akcji:</label>
                <div class="formRight">
                    {{ form_widget(form.cena) }}
                </div>                        
                <div class="fix"></div>
            </div>
            <div class="rowElem">
                <label>Ilość:</label>
                <div class="formRight">
                    {{ form_widget(form.ilosc) }}
                </div>                        
                <div class="fix"></div>
            </div>
            <div class="rowElem">
                <label>Prowizja:</label>
                <div class="formRight">
                    {{ form_widget(form.prowizja) }}
                </div>                        
                <div class="fix"></div>
            </div>
                

{{ form_rest(form) }} 

            <div class="submitForm">
                <input type="submit" value="Kup" class="greyishBtn">
            </div>
            <div class="fix"></div>
        </div>
    </fieldset>  
</form>





{% endblock %}


